html,body{
    height: 100%;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Utilisation de la police Roboto */
}
.home{
    padding-top: 90px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
/* @keyframes changeBackground {
    0% { background-image: url("../picture/bg.jpg");
        background-position-y: center;
        height:auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    30% { background-image: url('../picture/route\ \(1\).webp');
        background-position-y: 80%;
        height:auto;
        background-size: cover;
        background-repeat: no-repeat;
     }
    60% { 
        background-image: url('../picture/route\ \(4\).jpg'); 
        background-position-y: 80%;
        height:auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    100% {
        background-image: url("../picture/bg.jpg");
        background-position-y: center;
        height:auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
section#suggestion{
    animation: changeBackground 120s infinite;
}
.bg-adore{
    background-color: rgba(7, 7, 7, 0.452);
}
#titre{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS';
}
.glass-background {
    background-color: rgba(6, 6, 51, 0.315) !important; //Couleur du fond avec une opacité réduite 
    backdrop-filter: blur(10px) !important; // Ajoute un flou au fond
  }
.gradient-overlay{
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background: linear-gradient(to bottom,rgba(255, 255, 255,0.001)0%, rgba(255, 255, 255, 0.999)100%);
}
.icon:hover{
    background-color: rgba(245, 245, 220, 0.336) !important;
    border-radius: 50%;
} */
.bg-tertiary{
    background-color: rgba(255, 0, 0, 0.136);
}
a{
    text-decoration: none !important;
}
.custom-checkbox-warning:checked + .form-check-label::before {
    background-color: #ffc107 !important; /* Couleur "warning" de Bootstrap */
    border-color: #ffc107 !important; /* Couleur "warning" de Bootstrap */
}

h1, h2, h3 ,h4 , h5{
    font-family: 'Open Sans', sans-serif; /* Utilisation de la police Open Sans pour les titres */
}
.active{
    border-bottom: #ffc107 solid ;
}
div.active{
    border-bottom: none;
}